*.project
original/
/data/
documentation/
*.html
tests
!/package/patientProfilesVis/tests
*.pdf
*.tex
*.tar.gz
*.log
*.Rcheck
shiny/moduleSettings
*.docx
testPackages/lib
.Rproj.user
*.Rhistory
PatientProfile_3067_101.Rmd
*.out
.RDuetConsole
figures_vignette
report/
