*.project
original/
/data/
documentation/
*.html
/tests/
*.pdf
*.tex
*.png
*.tar.gz
*.log
*.Rcheck
shiny/moduleSettings
*.docx
testPackages/lib
package/*/tests/figs
.Rproj.user
*.Rhistory
PatientProfile_3067_101.Rmd
*.out
.RDuetConsole
